html {
  font-size: 10px;
}

body {
  font-family: "Shadows Into Light", cursive;
  background: #ddddff;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 3rem;
}

h1 {
  font-size: 4.8rem;
  color: #999999;
  margin: 2rem;
}

h2 {
  font-size: 3.6rem;
  color: #666666;
  margin: 0;
}

h3 {
  font-size: 2.8rem;
  color: #333333;
  margin: 2rem;
}

h4 {
  font-size: 2.4rem;
  margin: 0;
}

.player-container {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.player-pick-container,
.comp-pick-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  border-radius: 0.8rem;
}

.score {
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-top: 2rem;
}

.score div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score div p {
  margin: 0;
  font-size: 2.4rem;
}

button {
  width: 10rem;
  height: 10rem;
  font-size: 3.6rem;
  transform: rotate(-90deg);
  border: none;
  background-color: inherit;
}

.player-choice {
  cursor: pointer;
  transition: transform 0.2s linear;
}

.player-choice:hover {
  transform: rotate(-90deg) translateX(3px) translateY(3px);
}

.player-choice:disabled,
.player-choice[disabled] {
  cursor: initial;
}

.player-choice:disabled:hover,
.player-choice[disabled]:hover {
  transform: rotate(-90deg);
}

@keyframes rockPaperScissors {
  from {
    transform: translateY(1rem) rotate(-90deg);
  }
  to {
    transform: translateY(-1rem) rotate(-45deg);
  }
}

.rps {
  animation-name: rockPaperScissors;
  animation-duration: 0.333s;
  animation-iteration-count: 3;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset {
  transform: none;
  font-size: 2.4rem;
  font-weight: 700;
  border: 1px solid red;
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  margin-bottom: 2rem;
  width: auto;
  height: auto;
  color: red;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.3s linear;
}

.reset:hover {
  background: red;
  color: white;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
